<div class="row">
  <div class="col-md-8" style="background-color:white; min-height:150px;">
    <div class="panel panel-default">
      <div class="panel-heading"> Principais </div>
        <div class="panel-body">
        <% @noticias.each do |n| %>
          <% if n.show == "Main" %>
              <% if n.photo_show == true %>
                <%= image_tag n.photo.url(:thumb) %>
              <% end %>
              <% if n.title_show == true %>
                <font size="6">
                  <%= n.title %> <br>
                </font>
              <% end %>
              <% if n.subtitle_show == true %>
                <font size="4">
                  <u> <%= n.subtitle %> </u> <br>
                </font>
              <% end %>
              <% if n.body_show == true %>
                <%= n.body %> <br>
              <% end %>
              <% if session[:user] %>
              <% if Role.find(session[:user]["role_id"]).description == "administrador" %>
                  <%= link_to "Deletar noticia", n, method: :delete %>
                <% elsif (Role.find(session[:user]["role_id"]).description == "diretor") && (n.user.role.description == "professor") %>
                    <%= link_to "Deletar noticia", n, method: :delete %>
                  <% elsif session[:user]["id"] == n.user_id %>
                    <td> <%= link_to "Deletar noticia", n, method: :delete %> </td>
                <% end %>
                <% if session[:user]["id"] == n.user_id %>
                  <td> <%= link_to "Editar noticia", edit_news_path(n) %> </td>
                <% end %>
              <% end %>
            <hr style="border-color:black">
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4" style="background-color:white; min-height:150px;">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if session[:user] %>
          <%= link_to "Logout", logout_path, class: "btn btn-primary pull-left", style: "color: white;" %> &nbsp;
          <%= link_to "Gerenciar notícias", news_userpag_path, class: "btn btn-primary", style: "color: white;" %>
        <% else %>
          <%= link_to "Login", login_path, class: "btn btn-primary pull-left", style: "color: white;" %>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"> Mais Notícias </div>
        <div class="panel-body">
          <% @noticias.each do |n| %>
            <% if n.show == "Secondary" %>
                <% if n.photo_show == true %>
                  <%= image_tag n.photo.url(:thumb) %>
                <% end %>
                <% if n.title_show == true %>
                  <b> <i>
                    <%= n.title %> <br>
                  </b> </i>
                <% end %>
                <% if n.subtitle_show == true %>
                  <u> <%= n.subtitle %> </u> <br>
                <% end %>
                <% if n.body_show == true %>
                  <%= n.body %>
                <% end %>
                <% if session[:user] %>
                <% if Role.find(session[:user]["role_id"]).description == "administrador" %>
                    <%= link_to "Deletar noticia", n, method: :delete %>
                  <% elsif (Role.find(session[:user]["role_id"]).description == "diretor") && (n.user.role.description == "professor") %>
                      <%= link_to "Deletar noticia", n, method: :delete %>
                    <% elsif session[:user]["id"] == n.user_id %>
                      <td> <%= link_to "Deletar noticia", n, method: :delete %> </td>
                  <% end %>
                  <% if session[:user]["id"] == n.user_id %>
                    <td> <%= link_to "Editar noticia", edit_news_path(n) %> </td>
                  <% end %>
                <% end %>
                <hr style="border-color:black">
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
